@model IEnumerable<WebApplication4.Models.Discount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeRoom.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
